name: krishokbondhu
description: AI-assisted agriculture support for farmers.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_riverpod: ^2.5.1
  go_router: ^14.2.1
  dio: ^5.5.0+1
  image_picker: ^1.1.1
  intl: ^0.19.0
  google_fonts: ^6.2.1
  fl_chart: ^0.68.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
